.App {
  text-align: center;
}

.speech-detect {
  background-color: #eee;
  border-radius: 16px;
  padding: 20px;
  font-size: 15px;
  width: 800px;
  margin: 20px auto;
}

.speech-detect .final-text {
  font-weight: bold;
  color: black;
}

.speech-detect .speeching-text {
  font-weight: 400;
  color: gray;
}